<html ng-app="FoodApp">
  <head>
    <title>MAMA</title>
    <script src="lib/angular.js"> </script>
    <script src="lib/angular-ui-router.js"> </script>
    <script src="lib/ui-layout.js"> </script>
    <script src="lib/ui-bootstrap-tpls-0.14.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="lib/bootstrap.css">
    <link rel="stylesheet" href="lib/ui-layout.css">
    <link rel="stylesheet" href="lib/indexPage.css">
    <script src="app/app.js"> </script>
    <script src="app/controllers.js"> </script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <nav class="navbar navbar-default" ng-controller="NavBarCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="main">MAMA</a>
        </div>

        <div>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
          <ul class="nav navbar-nav">
            <li><a href="#"> Advanced Search</a></li>
          </ul>

      <!--Logged Out Navigation Bar -->
          <div ng-hide="loggedIn">
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#loginModal">Login</button>
              <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="register">Register</a></li>
                <li></li>
              </ul>
              
          </div>
      <!--Logged In NavBar End-->

      <!--Logged In Navigation Bar -->
          <div ng-show="loggedIn">
            <ul class="nav navbar-nav navbar-right">
              <li><a ui-sref="addRecipe" > Create A Recipe </a></li>
              <li><a ui-sref="profile" > {{user.fullName}} </a></li>
              <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
          </div>
      <!--Logged In NavBar End -->

        </div>
      </div>
      <div id="loginModal" class="modal fade loginModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content login-block">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h1>Login</h1>
            </div>
            <div class="modal-body">
            <p>
              <form class="contact" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control input-xlarge" placeholder="Username" id="username" ng-model="emailLogin"><br>
                      <input type="password" class="form-control input-xlarge" placeholder="Password" id="password" ng-model="passLogin">
                    </div>
               <button type="submit" class="btn btn-default" id="buttonSubmit" data-dismiss="modal" ng-click="login()">Login</button>
              </form>     
            </p>
            </div>

          </div>

        </div>
      </div>
    </nav>

    <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6"> <div ui-view></div></div>
    <div class="col-sm-3"></div>
    </div>



  </body>
</html>
