<div ng-controller="AddRecipeCtrl" class="col-md-offset-1">
	<form name="AddRecipe" role="form">
		<h3>Create a recipe</h3>
		<div class="form-group col-md-9" >
			<label>Recipe Name</label>
			<input type="text" class="form-control" placeholder="Recipe name" ng-model="recipeName">
		</div>
		<div class="col-md-12">
			<label>Ingredients</label>
		</div>
		<div ng-show="ingredients.length > 0">
			<div class="col-md-3"><label>Name</label></div>
			<div class="col-md-3"><label>Amount</label></div>
			<div class="col-md-3"><label>Unit</label></div>
		</div>
		<div class="form-group form-inline" ng-repeat="ingredient in ingredients">
			<div class="col-md-10">
			<input type="text" class="form-control" ng-model="ingredient.name"  required>
			<input type="text" class="form-control" ng-model="ingredient.amount"  required>
			<input type="text" class="form-control" ng-model="ingredient.unit"  required>
			</div>
		</div>
		<div class="col-md-12">
			<label>Add a new ingredient</label>
		</div>
		<div class="form-group form-inline col-md-10">
			<input type="text" class="form-control" ng-model="newIngredientName" placeholder="Name" required>
			<input type="text" class="form-control" ng-model="newIngredientAmount" placeholder="Amount" required>
			<input type="text" class="form-control" ng-model="newIngredientUnit" placeholder="Unit" required>
			<button class="btn btn-default" ng-click="addIngredient()" aria-label="Add Ingredient">
  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		</div>
		<div class="col-md-9">
			<label>Description</label>
			<textarea rows="10" class="form-control" style="resize:none" ng-model="recipeDesc"></textarea>
		</div>
		<div class="col-md-10">
			<button type="submit" class="btn btn-default" ng-click="addRecipe()">Create Recipe</button>
		</div>

	</form>
</div>