<div ng-controller="ProfileCtrl">
	
  <div class="col-md-3" >
    <img src="img/usermale.png" class="img-thumbnail" >
    <h3>{{userName}}</h3>
  </div>

  <div class="col-md-9">
	<uib-tabset>
      <uib-tab heading="Profile">
        <h4>
          <label>Full Name: </label>
          <span>{{nameProfile}}</span>
        </h4>
        <h4>
          <label>Email: </label>
          <span>{{emailProfile}}</span>
        </h4>
        <h4>
          <label>Birth Date: </label>
          <span>{{birthDateProfile}}</span>
        </h4>
        <h4>
          <label>Location: </label>
          <span>{{locationProfile}}</span>
        </h4>
      </uib-tab>
    	<uib-tab heading="My Recipes">
        <div class="table-responsive">

          <table class="table table-striped table-bordered">
            <tr class="info" ng-repeat="_ in userRecipes | orderBy:'name'">
              <td ng-show="($parent.$index % 3 == 0) && ($parent.$index + 3 > $index) && ($parent.$index <= $index)" ng-repeat="recipe in userRecipes | orderBy:'name'">
                        <a href="#" ui-sref="viewRecipe({ recipeID : '' + recipe.id})"> {{recipe.name}} </a>
                        
                    </td>
            <tr>
          </table>
          
        </div>
      </uib-tab>
      <uib-tab heading="Preferences">
        <div class="form-group form-inline col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
          <h3>Allergens</h3>
            <p ng-repeat="allergen in allergens">
            {{ allergen.item_name }} 
          </p>
        </div>
        <div class="form-group form-inline col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
          <input type="text" class="form-control col-md-2 col-lg-3 col-xs-12" ng-model="newAllergen" placeholder="New Allergen" uib-typeahead="ingredient as ingredient.fields.item_name for ingredient in getCompletions($viewValue)" typeahead-select-on-blur="true" typeahead-on-select="onAllergenSelect($item,$model,$label)">
          <button class="form-control btn btn-default col-md-2 col-lg-3 col-xs-12" ng-show="!!newAllergen" ng-click="addAllergen()" aria-label="Add Ingredient">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="color:green;"></span></button>
        </div>
      </uib-tab>
      <uib-tab heading="Consumption">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
          <h3>Daily Average Consumption</h3>
             <div ng-repeat="(id,nutritionLiteral) in nutritionLiterals">
               <b>{{ nutritionLiteral.charAt(0).toUpperCase() + nutritionLiteral.slice(1) }}</b> : {{ avgNutrition[nutritionLiteral] }} {{ nutritionUnits[id] }}
             </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 ">
          <h3>Previously Consumed Recipes</h3>
          <table class="table table-striped table-bordered">
            <tr class="info" ng-repeat="_ in consumedRecipes | orderBy:'name'">
              <td ng-show="($parent.$index % 3 == 0) && ($parent.$index + 3 > $index) && ($parent.$index <= $index)" ng-repeat="recipe in consumedRecipes | orderBy:'name'">
                        <a href="#" ui-sref="viewRecipe({ recipeID : '' + recipe.id})"> {{recipe.name}} </a>
                        
                    </td>
            </tr>
          </table>
        </div>
      </uib-tab>
  	</uib-tabset>
  </div>


</div>