<div ng-controller="ProfileCtrl">
	
	<ul class="nav nav-tabs">
  		<li role="presentation"><a href="#">Last Viewed</a></li>
  		<li role="presentation"><a href="#">My Favorites</a></li>
  		<li role="presentation"><a href="#">New Restaurants</a></li>
	</ul>			
	<ul class="nav nav-pills nav-stacked" style="width : 50%; margin-left : -50%">
		<h3>"{{userName}}"</h3>
		<li role="presentation"><a href="#">My Recipes</a></li>	
  		<li role="presentation"><a href="#">Followed Users</a></li>
  		<li role="presentation"><a href="#">Food Preferences</a></li>
  		<li role="presentation"><a href="#">Messages</a></li>
  		<li role="presentation"><a href="#">Address</a></li>
  		<li role="presentation"><a href="#">Options</a></li>
	</ul>
	
</div>