<div ng-controller="SearchCtrl">
	<uib-tabset>
    	<uib-tab heading="Recipes">
    		<uib-pagination total-items="recipeResults.length" ng-model="recipesCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" ng-show="recipeResults.length > 0"></uib-pagination>
				<div class="row" ng-repeat=" recipe in recipeResults.slice(((recipesCurrentPage-1)*maxSize),recipesCurrentPage*maxSize)">
					<div class="col-md-3">
		              	<img src="img/chefhat.png" class="img-thumbnail">
	            	</div>
	            	<div class="col-md-9">
	            		<h3><a href="#"  ui-sref="viewRecipe({recipeID : recipe.id.toString()})">{{ recipe.name }} </a></h3>
	       				<p>{{ recipe.description}}</p>
	            	</div>
				</div>
			<uib-pagination total-items="recipeResults.length" ng-show="recipeResults.length > 0" ng-model="recipesCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></uib-pagination>
			<p ng-hide="recipeResults.length > 0">No recipe is found</p>
    	</uib-tab>
    	<uib-tab heading="Menus">
    	    <uib-pagination total-items="menuResults.length" ng-show="menuResults.length > 0" ng-model="menusCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></uib-pagination>
				<div class="row" ng-repeat=" menu in menuResults.slice(((menusCurrentPage-1)*maxSize),menusCurrentPage*maxSize)">
					<div class="col-md-3">
		              	<img src="img/chefhat.png" class="img-thumbnail">
	            	</div>
	            	<div class="col-md-9">
	            		<h3><a href="#"  ui-sref="viewMenu({menuID: menu.id.toString()})">{{ menu.name }} </a></h3>
	       				<p>{{ menu.description}}</p>
	            	</div>
				</div>
			<uib-pagination total-items="menuResults.length"  ng-show="menuResults.length > 0" ng-model="menusCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></uib-pagination>
			<p ng-hide="menuResults.length > 0">No menu is found</p>
    	</uib-tab>
  	</uib-tabset>
	
</div>