<div ng-controller="ViewRecipeCtrl">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<button type="button" ui-sref="main" class="btn btn-success">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</button>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12">
	<div class="col-md-3">
		<img src="img/chefhat.png" class="img-thumbnail" style="max-width=25%;margin-top:10px;">
	</div>
	<div class="col-md-7">
		<h3 style="font-family: Montserrat;color: #F4A73B;">{{ recipe.name }} </h3>
		<br/>
		<h4 style="font-family: Montserrat;color: #F4A73B;"><u>Ingredients</u></h4>
		<table class="table table-bordered">
			<tr ng-repeat="ingredient in recipe.ingredients">
				<td class="success">{{ ingredient.amount }}</td>
				<td class="danger">{{ ingredient.unit }}</td>
				<td class="info">{{ ingredient.name  }}</td>
			</tr>
		</table>
		<h4 style="font-family: Montserrat;color: #F4A73B;"><u>Description</u></h4>
		{{ recipe.description }}
	</div>		
	</div>
</div>